* {
	box-sizing: border-box;
	margin: 0px;
}

body{
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    font-size: 16px;
}

a{
	text-decoration: none;
}

h1{
	margin: 0;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}

.conteiner{
	max-width: 1770px;
	margin: 0 auto;
}

.header{
	background-color: #FFFFFF;	
}

.header-up{
	display: flex;
}

.header-logo1{
	margin-top: 14px;
	margin-right: 729px;
	width: 100%;
	max-width: 224px;
}

.nav{
	display: flex;
}

.header-nav-list{
	display: flex;
	margin-top: 39px;
	margin-bottom: 39px;
	width: 200%;
	min-height: 23px;
	max-width: 800px;
}

.header-nav-list-description{
	margin-right: 85px;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
}

.header-nav-list-description:hover{
	border-bottom: 2px solid #FF9900;
}

.header-nav-list-description-link{
	color: #333333;
}

.header-nav-list-description-link:focus{
	border: 2px solid #ff9900;
}

.header-nav-list-description-link:active{
	color: #E1670E;
	border-bottom: 2px solid #E1670E;
}

.header-nav-list-magnifier-open{
	margin-top: 38px;
	border: #FFFFFF;
	background-color: #FFFFFF;
}

.header-nav-list-magnifier-form{
	display: none;
}

.header-hero{
	margin-bottom: 100px;
	background: url(/img/hero1.jpg) no-repeat;
	object-fit: contain;
	width: 100%;
	max-width: 1770px;
}

.header-hero-heading{
	padding-top: 100px;
	padding-left: 80px;
	padding-bottom: 24px;
	width: 100%;
	max-width: 917px;
	font-size: 70px;
	line-height: 85px;
	font-weight: 800;
	color: #FFFFFF;
}

.header-hero-description{
	padding-left: 80px;
	padding-bottom: 90px;
	width: 100%;
	max-width: 870px;
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	color: #FFFFFF;
}

.header-hero-btn{
	margin-left: 80px;
	margin-bottom: 100px;
	padding: 25px 37px 25px 37px;
	border-color: #FF9900;
	font-size: 23px;
	line-height: 29px;
	font-weight: 700;
	color: #FFFFFF;
	background-color: #FF9900;
	transition: background .2s ease-in-out;
}

.header-hero-btn:focus{
	background-color: rgba(255, 153, 0, 0.7);
	border-color: rgba(255, 153, 0, 0.7);
}

.header-hero-btn:hover{
	background-color: rgba(255, 153, 0, 0.7);
	border-color: rgba(255, 153, 0, 0.7);
}

.header-hero-btn:active{
	background-color: #E1670E;
	border-color: #E1670E;
}

/* БЛОК О НАС */

.aboutus{
	margin-bottom: 70px;
}

.aboutus-heading{
	font-size: 48px;
	font-weight: 400;
	line-height: 58px;
	margin-bottom: 20px;
}

.aboutus-description{
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	width: 100%;
	max-width: 1235px;
	margin-bottom: 50px;
}

.aboutus-block{
	display: flex;
}

.aboutus-block-first{
	display: flex;
	margin-right: 32px;
	width: 100%;
	max-width: 868px;
	height: 620px;
	background: url(/img/онас1.jpg) no-repeat;
	object-fit: contain;
	align-items: flex-end;
}

.aboutus-block-first-common{
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	background: rgba(0, 0, 0, 0.5);
	align-items: center;
}

.aboutus-block-first-common-description{
	margin-left: 50px;
	margin-right: 139px;
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
	color: #FFFFFF;
	width: 100%;
	max-width: 454px;
}

.aboutus-block-first-common-description-btn{
	margin-right: 50px;
	padding: 20px 38px;
	border: 3px solid #FF9900;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.0);
	cursor: pointer;
	transition: background .2s ease-in-out;
}

.aboutus-block-first-common-description-btn:hover{
	background: #FF9900;
	transition: color 1s ease-in-out;
}

.aboutus-block-first-common-description-btn:focus{
	background: #FF9900;
}

.aboutus-block-first-common-description-btn:active{
	background: #E1670E;
	border: 3px solid #E1670E;
}

.aboutus-block-two-consultation{
	margin-bottom: 32px;
	width: 200%;
	max-width: 870px;
	border: 1px solid #CACACA;
	background: url(/img/онас2.svg) no-repeat left ;
	background-position-x: 60px;
}

.aboutus-block-two-consultation-heading{
	margin-top: 65px;
	margin-left: 300px;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
}

.aboutus-block-two-consultation-description{
	margin-left: 300px;
	margin-bottom: 65px;
	width: 100%;
	max-width: 450px;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

.aboutus-block-two-aspiration{
	margin-bottom: 32px;
	width: 200%;
	max-width: 870px;
	border: 1px solid #CACACA;
	background: url(/img/онас3.svg) no-repeat left ;
	background-position-x: 60px;
}

.aboutus-block-two-aspiration-heading{
	margin-top: 65px;
	margin-left: 300px;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
}

.aboutus-block-two-aspiration-description{
	margin-left: 300px;
	margin-bottom: 65px;
	width: 100%;
	max-width: 450px;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}


/* Блок как мы работаем */

.work{
	margin-bottom: 100px;
}

.work-heading{
	margin-bottom: 50px;
	font-size: 48px;
	font-weight: 400;
	line-height: 58px;
}

.work-steps-number{
	margin-bottom: 45px;
	display: flex;
}

.work-steps-number-description{
	color: #333333;
}

.work-steps-number-description:not(:nth-child(4)){
	margin-right: 85px;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}

.work-steps-number-description:hover{
	color: #FF9900;
}

.work-steps-number-description:focus{
	border: 2px solid #FF9900;
}

.work-steps-number-description:active{
	color: #E1670E;
}

.work-steps-consultation{
	display: flex;
}

.work-steps-consultation-heading{
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
}

.work-steps-consultation-description{
	margin-right: 142px;
	margin-bottom: 65px;
	font-size: 16px;
	font-weight: 400;
	line-height: 33px;
	width: 100%;
	max-width: 758px;
}

.work-steps-detailed-btn{
	margin-right: 32px;
	padding: 20px 36px;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	border: 1px solid #FF9900;
	color: #FFFFFF;;
	background-color: #FF9900;
	cursor: pointer;
	transition: background .2s ease-in-out;
}

.work-steps-detailed-btn:hover{
	background-color: #F7B045;
}

.work-steps-detailed-btn:focus{
	background-color: #F7B045;
}

.work-steps-detailed-btn:active{
	background-color: #E1670E;
}

.work-steps-contract-btn{
	padding: 19px 38px;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #333333;
	border: 1px solid #333333;
	cursor: pointer;
	transition-property: color background;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.work-steps-contract-btn:hover{
	border: 1px solid #666666;
	color: #FFFFFF;
	background-color: #666666;
}

.work-steps-contract-btn:focus{
	border: 1px solid #666666;
	color: #FFFFFF;
	background-color: #666666;
}

.work-steps-contract-btn:active{
	border: 1px solid #000000;
	color: #FFFFFF;
	background-color: #000000;
}

.work-steps-picture{
	width: 100%;
	max-width: 870px;
	padding-top: 10px;
}

/* БЛОК ВОПРОСЫ */

.questions{
	margin-bottom: 92px;
}

.questions-heading{
	margin-bottom: 40px;
	font-size: 48px;
	font-weight: 400;
	line-height: 58px;
}

.questions-list-common{
	padding-top: 31px;
	padding-bottom: 31px;
	width: 100%;
	max-width: 1770px;
	border-top: 1px solid #CACACA;
	transition-property: color border;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.questions-list-common:last-child{
	border-bottom: 1px solid #CACACA;
}

.questions-list-common:hover{
	color: #FF9900;
	border-top: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
}

.questions-list-common:focus{
	color: #FF9900;
	border-top: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
}

.questions-list-common-list{
	display: flex;
}

.questions-list-common-list-text{
	margin-right: 615px;
	padding-top: 10px;
	width: 100%;
	max-width: 1105px;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
}

.questions-list-common-list-btn{
	padding: 25px;
	border: 0px;
	background: url(/img/+х.svg) no-repeat center center;
	transition-property: background;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.questions-list-common-list-btn:hover{
	background: url(/img/+хhover.svg) no-repeat center center;
}

.questions-list-common-list-btn:focus{
	background: url(/img/+хhover.svg) no-repeat center center;
}

.questions-list-common-list-btn:active{
	background: url(/img/+хactive.svg) no-repeat center center;
}

/* БЛОК ФУТЕР */

.footer{
	background-color: #222222;
}

.conteiner-footer{
	padding-top: 50px;
	display: flex;
}

.conteiner-footer-info{
	width: 100%;
	max-width: 265px;
	margin-right: 335px;
}

.conteiner-footer-info-lodo{
	margin-bottom: 20px;
	width: 200%;
	max-width: 224px;
}

.conteiner-footer-info-description-list-detailed{
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
}

.conteiner-footer-info-description-list-detailed:last-child{
	margin-bottom: 90px;
}

.conteiner-footer-info-description-list-detailed-link{
	color: #CACACA;
	transition: color .2s ease-in-out;
	transition: padding .2s ease-in-out;
}

.conteiner-footer-info-description-list-detailed-link:hover{
	color: #FF9900;
}

.conteiner-footer-info-description-list-detailed-link:focus{
	border: 2px solid #FF9900;
	padding: 5px;
}

.conteiner-footer-info-description-list-detailed-link:active{
	color: #E1670E;
}

.conteiner-footer-info-description-lan{
	margin-bottom: 50px;
	display: flex;
}

.conteiner-footer-info-description-lan-facebook{
	margin-right: 25px;
}

.conteiner-footer-info-description-lan-vk{
	margin-right: 25px;
}

.conteiner-footer-form{
	margin-right: 236px;
	width: 200%;
	max-width: 570px;
}

.conteiner-footer-form-heading{
	margin-bottom: 25px;
	font-size: 48px;
	font-weight: 400;
	line-height: 58px;
	color: #CACACA;
}

.conteiner-footer-form-name{
	margin-bottom: 25px;
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 24px;
	width: 200%;
	max-width: 570px;
	border: #414141;
	background: #414141;
	color: #FFFFFF;
	transition: background .2s ease-in-out;
}

.conteiner-footer-form-name:hover{
	background: #666666;
}

.conteiner-footer-form-name:focus{
	background: #666666;
}

.conteiner-footer-form-name:active{
	background: #666666;
}

.conteiner-footer-form-email{
	margin-bottom: 25px;
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 24px;
	width: 200%;
	max-width: 570px;
	border: #414141;
	background: #414141;
	color: #FFFFFF;
	transition: background .2s ease-in-out;
}

.conteiner-footer-form-email:hover{
	background: #666666;
}

.conteiner-footer-form-email:focus{
	background: #666666;
}

.conteiner-footer-form-email:active{
	background: #666666;
}

.conteiner-footer-form-text{
	margin-bottom: 32px;
	padding-top: 26px;
	padding-left: 24px;
	padding-bottom: 104px;
	width: 200%;
	max-width: 570px;
	border: #414141;
	background: #414141;
	color: #FFFFFF;
	transition: background .2s ease-in-out;
}

.conteiner-footer-form-text:hover{
	background: #666666;
}

.conteiner-footer-form-text:focus{
	background: #666666;
}

.conteiner-footer-form-text:active{
	background: #666666;
}

.conteiner-footer-form-btn{
	display: flex;
	width: 200%;
	max-width: 571px;
}

.conteiner-footer-form-btn-send{
	margin-right: 22px;
	padding: 19px 52px;
	width: 200%;
	max-width: 273px;
	background: #FF9900;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	color: #FFFFFF;
	transition: background 0.2s ease-in-out;
}

.conteiner-footer-form-btn-send:hover{
	background: #F7B045;
}

.conteiner-footer-form-btn-send:focus{
	background: #F7B045;
}

.conteiner-footer-form-btn-send:active{
	background: #E1670E;
}

.conteiner-footer-form-approval{
	display: inline-block;
	width: 300px;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	align-self: center;
	color: #CACACA;
}

.conteiner-footer-form-description{
	margin-top: 90px;
	width: 100%;
	max-width: 363px;
}
.conteiner-footer-form-description-text{
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	color: #CACACA;
}