@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratBold.woff2') format('woff2'),
		url('../fonts/MontserratBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratExtraBold.woff2') format('woff2'),
		url('../fonts/MontserratExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratRegular.woff2') format('woff2'),
		url('../fonts/MontserratRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/MontserratSemiBold.woff2') format('woff2'),
		url('../fonts/MontserratSemiBold.woff') format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0px;
}

body{
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    font-size: 16px;
}

a{
	text-decoration: none;
}

h1{
	margin: 0;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}

.conteiner{
	max-width: 1870px;
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
}

.header{
	background-color: #FFFFFF;	
}

.header-up{
	display: flex;
}

.header-logo1{
	margin-top: 14px;
	margin-right: auto;
	width: 100%;
	max-width: 224px;
}

.header-logo:focus-visible {
	outline: 3px solid #FF9900;
}

.nav{
	display: flex;
}

.header-nav-list{
	display: flex;
	padding-top: 39px;
	padding-bottom: 39px;
	min-height: 23px;
}

.header-nav-list-description{
	margin-right: 83px;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	min-height: 24px;
}

.header-nav-list-description a {
    display: inline-block;
    color: #333333;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.header-nav-list-description a:after {
    display: block;
    content: "";
    background-color: #FF9900;
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header-nav-list-description a:hover:after{
    width: 100%;
}

.header-nav-list-description-link:focus{
	border: 2px solid #FF9900;
}

.header-nav-list-description-link:focus-visible {
	outline: 2px solid #FF9900;
}

.header-nav-list-description-link:active{
	color: #E1670E;
	border-bottom: 2px solid #E1670E;
}

.header-nav-list-burger{
	display: none;
}

.header-nav-list-magnifier-open{
	padding-top: 38px;
	border: #FFFFFF;
	background-color: #FFFFFF;
	cursor: pointer;
}

.header-nav-list-magnifier-open:hover svg path{
	stroke: #FF9900;
}
.header-nav-list-magnifier-open:hover svg rect{
	fill: #FF9900;
}

.header-nav-list-magnifier-open:focus{
	border: 2px solid #FF9900;
	padding: 4px 4px 2px 4px;
	margin-top: 33px;
}

.header-nav-list-magnifier-open:focus-visible {
	outline: 2px solid #FF9900;
}

.header-nav-list-magnifier-open:active svg path{
	stroke: #FF9900;
}
.header-nav-list-magnifier-open:active svg rect{
	fill: #FF9900;
}

.header-nav-list-magnifier-form{
	display: none;
}

.header-hero{
	margin-bottom: 96px;
	padding-left: 80px;
	background: url(/img/hero1.jpg) no-repeat;
	object-fit: contain;
}

.header-hero-heading{
	padding-top: 100px;
	margin-bottom: 24px;
	width: 60%;
	font-size: 70px;
	line-height: 85px;
	font-weight: 800;
	color: #FFFFFF;
}

.header-hero-description{
	margin-bottom: 90px;
	width: 50%;
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	color: #FFFFFF;
}

.header-hero-btn{
	margin-bottom: 100px;
	padding: 25px 37px 25px 37px;
	border: none;
	font-size: 23px;
	line-height: 29px;
	font-weight: 700;
	color: #FFFFFF;
	background-color: #FF9900;
	transition: background .2s ease-in-out;
	cursor: pointer;
}

.header-hero-btn:focus{
	background-color: rgba(255, 153, 0, 0.7);
	border-color: rgba(255, 153, 0, 0.7);
}

.header-hero-btn:focus-visible {
	outline: 2px solid #FF9900;
}

.header-hero-btn:hover{
	background-color: rgba(255, 153, 0, 0.7);
	border-color: rgba(255, 153, 0, 0.7);
}

.header-hero-btn:active{
	background-color: #E1670E;
	border-color: #E1670E;
}

/* БЛОК О НАС */

.aboutus{
	margin-bottom: 95px;
}

.aboutus-heading{
	font-size: 48px;
	font-weight: 400;
	line-height: 58px;
	margin-bottom: 20px;
}

.aboutus-description{
	width: 70%;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 50px;
}

.aboutus-block{
	display: flex;
}

.aboutus-block-first{
	display: flex;
	margin-right: 32px;
	height: 620px;
	width: 50%;
	background: url(/img/онас1.jpg) no-repeat;
	object-fit: contain;
	align-items: flex-end;
}

.aboutus-block-first-common{
	padding: 50px;
	display: flex;
	background: rgba(0, 0, 0, 0.5);
	align-items: center;
}

.aboutus-block-first-common-description{
	margin-right: 139px;
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
	color: #FFFFFF;
}

.aboutus-block-first-common-description-btn{
	padding: 20px 38px;
	border: 3px solid #FF9900;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.0);
	cursor: pointer;
	transition: background .2s ease-in-out;
	cursor: pointer;
}

.aboutus-block-first-common-description-btn:hover{
	background: #FF9900;
	transition: color 1s ease-in-out;
}

.aboutus-block-first-common-description-btn:focus{
	background: #FF9900;
}

.aboutus-block-first-common-description-btn:focus-visible {
	outline: 2px solid #FF9900;
}

.aboutus-block-first-common-description-btn:active{
	background: #E1670E;
	border: 3px solid #E1670E;
}

.aboutus-block-two{
	width: 50%;
}

.aboutus-block-two-consultation{
	margin-bottom: 32px;
	padding-top: 65px;
	padding-bottom: 65px;
	padding-left: 300px;
	border: 1px solid #CACACA;
	background: url(/img/онас2.svg) no-repeat left ;
	background-position-x: 60px;
}

.aboutus-block-two-consultation-heading{
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
}

.aboutus-block-two-consultation-description{
	width: 75%;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

.aboutus-block-two-aspiration{
	padding-top: 65px;
	padding-bottom: 65px;
	padding-left: 300px;
	border: 1px solid #CACACA;
	background: url(/img/онас3.svg) no-repeat left ;
	background-position-x: 60px;
}

.aboutus-block-two-aspiration-heading{
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
}

.aboutus-block-two-aspiration-description{
	width: 75%;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}


/* Блок как мы работаем */

.work{
	margin-bottom: 100px;
}

.work-heading{
	margin-bottom: 50px;
	font-size: 48px;
	font-weight: 400;
	line-height: 58px;
}

.work-steps-number{
	margin-bottom: 45px;
	display: flex;
}

.work-steps-number-description{
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	color: #333333;
}

.work-steps-number-description:not(:nth-child(4)){
	margin-right: 85px;
}

.work-steps-number-description:hover{
	color: #FF9900;
}

.work-steps-number-description:focus{
	border: 2px solid #FF9900;
}

.work-steps-number-description:focus-visible {
	outline: 2px solid #FF9900;
}

.work-steps-number-description:active{
	color: #E1670E;
}

.work-steps-consultation{
	display: flex;
}

.work-steps-consultation-heading{
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
}

.work-steps-consultation-description{
	margin-right: 142px;
	margin-bottom: 65px;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	width: 100%;
	max-width: 758px;
}

.work-steps-detailed-btn{
	margin-right: 32px;
	padding: 20px 36px;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	border: 1px solid #FF9900;
	color: #FFFFFF;;
	background-color: #FF9900;
	cursor: pointer;
	transition: background .2s ease-in-out;
}

.work-steps-detailed-btn:hover{
	background-color: #F7B045;
}

.work-steps-detailed-btn:focus{
	background-color: #F7B045;
}

.work-steps-detailed-btn:active{
	background-color: #E1670E;
}

.work-steps-contract-btn{
	padding: 19px 38px;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #333333;
	border: 1px solid #333333;
	cursor: pointer;
	transition-property: color background;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.work-steps-contract-btn:hover{
	border: 1px solid #666666;
	color: #FFFFFF;
	background-color: #666666;
}

.work-steps-contract-btn:focus{
	border: 1px solid #666666;
	color: #FFFFFF;
	background-color: #666666;
}

.work-steps-contract-btn:active{
	border: 1px solid #000000;
	color: #FFFFFF;
	background-color: #000000;
}

.work-steps-picture{
	width: 100%;
	max-width: 870px;
	padding-top: 10px;
}

/* БЛОК ВОПРОСЫ */

.questions{
	margin-bottom: 92px;
}

.questions-heading{
	margin-bottom: 40px;
	font-size: 48px;
	font-weight: 400;
	line-height: 58px;
}

.questions-list-common{
	padding-top: 31px;
	padding-bottom: 31px;
	border-top: 1px solid #CACACA;
	transition-property: color border;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
}

.questions-list-common:last-child{
	border-bottom: 1px solid #CACACA;
}

.questions-list-common:hover{
	color: #FF9900;
	border-top: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
}

.questions-list-common:focus{
	color: #FF9900;
	border-top: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
}

.questions-list-common-list{
	display: flex;
}

.questions-list-common-list-text{
	margin-right: auto;
	padding-top: 10px;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
}

.questions-list-common-list-btn{
	padding: 25px;
	border: 0px;
	background: url(/img/+х.svg) no-repeat center center;
	cursor: pointer;
	transition-property: background;
	transition-duration: .2s;
	transition-timing-function: ease-in-out;
}

.questions-list-common-list-btn:focus-visible{
	outline: 3px solid #FF9900;
}

.questions-list-common:hover 
.questions-list-common-list-btn{
	background: url(/img/+хhover.svg) no-repeat center center
}

.questions-list-common:focus 
.questions-list-common-list-btn{
	background: url(/img/+хhover.svg) no-repeat center center;
}

.questions-list-common:active .questions-list-common-list-btn{
	background: url(/img/+хactive.svg) no-repeat center center;
}

/* БЛОК ФУТЕР */

.footer{
	background-color: #222222;
}

.conteiner-footer{
	padding-top: 50px;
	display: flex;
}

.conteiner-footer-info{
	margin-right: 170px;
	width: 30%;
}

.conteiner-footer-info-lodo{
	margin-bottom: 20px;
}

.conteiner-footer-info-description-list-detailed{
	width: 100%;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
}

.conteiner-footer-info-description-list-detailed:last-child{
	margin-bottom: 90px;
}

.conteiner-footer-info-description-list-detailed-link{
	color: #CACACA;
	transition: color .2s ease-in-out;
	transition: padding .2s ease-in-out;
}

.conteiner-footer-info-description-list-detailed-link:hover{
	color: #FF9900;
}

.conteiner-footer-info-description-list-detailed-link:focus{
	border: 2px solid #FF9900;
	padding: 5px;
}

.conteiner-footer-info-description-list-detailed-link:focus-visible{
	outline: 2px solid #FF9900;
}

.conteiner-footer-info-description-list-detailed-link:active{
	color: #E1670E;
}

.conteiner-footer-info-description-lan{
	margin-bottom: 50px;
	display: flex;
}

.conteiner-footer-info-description-lan-facebook{
	margin-right: 25px;
}

.conteiner-footer-info-description-lan-facebook:hover svg path{
	fill: #FF9900;
}

.conteiner-footer-info-description-lan-facebook:focus{
	border: 2px solid #FF9900;
	padding: 2px;
}

.conteiner-footer-info-description-lan-facebook:focus-visible{
	outline: 2px solid #FF9900;
}

.conteiner-footer-info-description-lan-facebook:active svg path{
	fill: #E1670E;
}

.conteiner-footer-info-description-lan-vk{
	margin-right: 25px;
}

.conteiner-footer-info-description-lan-vk:hover svg path{
	fill: #FF9900;
}

.conteiner-footer-info-description-lan-vk:focus{
	border: 2px solid #FF9900;
	padding: 2px;
}

.conteiner-footer-info-description-lan-vk:focus-visible{
	outline: 2px solid #FF9900;
}

.conteiner-footer-info-description-lan-vk:active svg path{
	fill: #E1670E;
}

.conteiner-footer-info-description-lan-instagram:hover svg path{
	fill: #FF9900;
}

.conteiner-footer-info-description-lan-instagram:focus{
	border: 2px solid #FF9900;
	padding: 2px;
}

.conteiner-footer-info-description-lan-instagram:focus-visible{
	outline: 2px solid #FF9900;
}

.conteiner-footer-info-description-lan-instagram:active svg path{
	fill: #E1670E;
}

.conteiner-footer-form{
	margin-right: 236px;
}

.conteiner-footer-form-heading{
	margin-bottom: 25px;
	font-size: 48px;
	font-weight: 400;
	line-height: 58px;
	color: #CACACA;
}

.conteiner-footer-form-name{
	margin-bottom: 25px;
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 24px;
	width: 100%;
	border: #414141;
	background: #414141;
	color: #FFFFFF;
	transition: background .2s ease-in-out;
}

.conteiner-footer-form-name:hover{
	background: #666666;
}

.conteiner-footer-form-name:focus{
	background: #666666;
}

.conteiner-footer-form-name:focus-visible{
	outline: 2px solid #FF9900;
}

.conteiner-footer-form-name:active{
	background: #666666;
}

.conteiner-footer-form-email{
	margin-bottom: 25px;
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 24px;
	width: 100%;
	border: #414141;
	background: #414141;
	color: #FFFFFF;
	transition: background .2s ease-in-out;
}

.conteiner-footer-form-email:hover{
	background: #666666;
}

.conteiner-footer-form-email:focus{
	background: #666666;
}

.conteiner-footer-form-email:focus-visible{
	outline: 2px solid #FF9900;
}

.conteiner-footer-form-email:active{
	background: #666666;
}

.conteiner-footer-form-text{
	margin-bottom: 32px;
	padding-top: 20px;
	padding-left: 24px;
	padding-bottom: 104px;
	width: 100%;
	border: #414141;
	background: #414141;
	color: #FFFFFF;
	transition: background .2s ease-in-out;
}

.conteiner-footer-form-text:hover{
	background: #666666;
}

.conteiner-footer-form-text:focus{
	background: #666666;
}

.conteiner-footer-form-text:focus-visible{
	outline: 2px solid #FF9900;
}

.conteiner-footer-form-text:active{
	background: #666666;
}

.conteiner-footer-form-btn{
	display: flex;
}

.conteiner-footer-form-btn-send{
	margin-right: 20px;
	padding: 19px 52px;
	border: none;
	background: #FF9900;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	color: #FFFFFF;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
}

.conteiner-footer-form-btn-send:hover{
	background: #F7B045;
}

.conteiner-footer-form-btn-send:focus{
	background: #F7B045;
}

.conteiner-footer-form-btn-send:focus-visible{
	outline: 2px solid #FF9900;
}

.conteiner-footer-form-btn-send:active{
	background: #E1670E;
}

.conteiner-footer-form-approval{
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	align-self: center;
	color: #CACACA;
}

.footer-checkbox{
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.footer-checkbox+label{
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.footer-checkbox+label::before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #CACACA;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-checkbox:checked+label::before {
	border-color: #CACACA;
	background-color: #222222;
	background-image: url(/img/checkbox.svg);
	background-position-x: 1px;
	cursor: pointer;
  }

.conteiner-footer-form-description{
	padding-top: 90px;
	width: 25%;

}
.conteiner-footer-form-description-text{
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	color: #CACACA;
}

@media (min-width: 1025px) and (max-width: 1534px){

	.header-logo1{
		margin-top: 14px;
		max-width: 180px;
	}

	.header-hero-heading{
		font-size: 50px;
		line-height: 55px;
		font-weight: 800;
	}

	.header-nav-list-description{
		font-size: 14px;
	}

	.aboutus-block{
		flex-direction: column;
	}

	.aboutus-block-first{
		margin-bottom: 32px;
		width: 867px;
		object-fit: contain;
	}

	.aboutus-block-two{
		width: 100%;
	}

	.conteiner-footer-form-description{
		display: none;
	}

	.conteiner-footer-form-btn{
		flex-direction: column;
	}
}

@media (max-width: 1024px){

	.header-nav-list-burger{
		padding-top: 43px;
		margin-bottom: 34px;
		display: block;
	}
	
	.header-nav-list-burger-open{
		background-color: #FFFFFF;
		border: none;
	}

	.header-logo1{
		padding-top: 10px;
		max-width: 150px;
		margin: auto;
	}

	.header-nav-list-description{
		display: none;
	}

	.header-nav-list-magnifier{
		padding-top: 5px;
	}

	.header-hero{
		margin-bottom: 80px;
		padding-top: 160px;
		padding-left: 77px;
		width: 100%;
		min-height: 668px;
		background: url(/img/hero1024.jpg) no-repeat;
		background-size: contain;
	}

	.header-hero-heading{
		margin-bottom: 16px;
		padding-top: 0;
		width: 100%;
		font-size: 60px;
		font-weight: 800;
		line-height: 73px;
	}
	.header-hero-description{
		margin-bottom: 60px;
		width: 80%;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
	}

	/* БЛОК О НАС */

	.aboutus{
		margin-bottom: 80px;
	}

	.aboutus-heading{
		margin-bottom: 12px;
	}

	.aboutus-description{
		margin-bottom: 60px;
		width: 100%;
	}

	.aboutus-block{
		flex-direction: column;
	}

	.aboutus-block-first{
		margin-bottom: 32px;
		width: 100%;
		min-height: 640px;
		background: url(/img/онас1024.jpg) no-repeat;
	}

	.aboutus-block-first-common{
		width: 100%;
	}

	.aboutus-block-first-common-description{
		margin-right: auto;
		width: 55%;
	}

	.aboutus-block-two{
		width: 100%;
	}

	.aboutus-block-two-consultation{
		padding-left: 317px;
		background-position-x: 75px;
	}

	.aboutus-block-two-aspiration{
		padding-left: 317px;
		background-position-x: 75px;
	}

	/* БЛОК КАК МЫ РАБОТЕМ */

	.work{
		margin-bottom: 80px;
	}

	.work-steps-consultation-left{
		margin-right: 50px;
		width: 84%;
	}

	.work-steps-consultation-description{
		margin-bottom: 50px;
	}

	.work-steps-picture-background{
		max-width: 437px;
		min-height: 689px;
		object-fit: cover;
	}
	
	/* БЛОК ВОПРОСЫ */

	.questions{
		margin-bottom: 76px;
	}

	.questions-heading{
		margin-bottom: 32px;
	}

	.questions-list-common-list-text{
		width: 81%;
		font-size: 20px;
		line-height: 26px;
	}
	
	/* БЛОК ФУТЕР */

	.conteiner-footer{
		width: 100%;
	}

	.conteiner-footer-info{
		margin-right: 133px;
	}

	.conteiner-footer-info-description{
		width: 251px;
	}

	.conteiner-footer-form{
		margin-right: 0;
	}

	.conteiner-footer-form-description{
		display: none;
	}

	.conteiner-footer-form-text{
		margin-bottom: 37px;
	}

	.conteiner-footer-form-btn-send{
		padding: 19px 38px;
	}
}

@media (min-width: 769px) and (max-width: 944px){

	.header-hero{
		padding-top: 40px;
		margin-bottom: 20px;
	}

	.header-hero-heading{
		padding-top: 30px;
		margin-bottom: 24px;
		width: 80%;
		font-size: 40px;
		line-height: 50px;
		font-weight: 800;
	}
	
	.header-hero-description{
		margin-bottom: 90px;
		width: 60%;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
		color: #FFFFFF;
	}

	.work-steps-detailed-btn{
		margin-right: 10px;
		padding: 15px 42px;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
	}

	.work-steps-contract-btn{
		padding: 15px 30px;
		font-size: 12px;
		font-weight: 400;
		line-height: 15px;
	}
	.conteiner-footer-form-btn{
		flex-direction: column;
	}
}

@media (max-width: 768px){

	.header-nav-list-burger{
		padding-top: 21px;
		height: 23px;
		display: block;
	}
	
	.header-nav-list-burger-open{
		padding-left: 0;
		background-color: #FFFFFF;
		border: none;
	}

	.header-logo1{
		max-width: 150px;
		margin: auto;
		margin-bottom: 8px;
	}

	.header-nav{
		height: 23px;
	}

	.header-nav-list-description{
		display: none;
	}

	.header-nav-list-magnifier{
		height: 23px;
	}

	.header-nav-list-magnifier-open{
		padding-top: 18px;
		padding-right: 0;
	}

	.header-nav-list-magnifier-open:focus{
		margin-top: 10px;
	}

	.header-hero{
		margin-bottom: 75px;
		padding-top: 160px;
		padding-left: 40px;
		width: 100%;
		min-height: 668px;
		background: url(/img/hero768.jpg) no-repeat;
		background-size: contain;
	}

	.header-hero-heading{
		margin-bottom: 16px;
		width: 100%;
		font-size: 50px;
		font-weight: 800;
		line-height: 60px;
	}
	.header-hero-description{
		margin-bottom: 60px;
		width: 90%;
		font-size: 18px;
		font-weight: 700;
		line-height: 22px;
	}

	/* БЛОК О НАС */

	.aboutus{
		margin-bottom: 80px;
	}

	.aboutus-heading{
		margin-bottom: 10px;
	}

	.aboutus-description{
		margin-bottom: 60px;
		width: 100%;
	}

	.aboutus-block{
		flex-direction: column;
	}

	.aboutus-block-first{
		margin-bottom: 32px;
		width: 100%;
		min-height: 650px;
		background: url(/img/онас768.jpg) no-repeat;
	}

	.aboutus-block-first-common{
		padding: 34px 40px;
		width: 668px;
	}

	.aboutus-block-first-common-description{
		margin-right: auto;
		width: 62%;
	}

	.aboutus-block-two{
		width: 100%;
	}

	.aboutus-block-two-consultation{
		padding-top: 35px;
		padding-bottom: 35px;
		padding-left: 170px;
		background-position-x: 40px;
		background-position-y: 65px;
		background-size: 114px;
	}

	.aboutus-block-two-consultation-description{
		width: 83%;
	}

	.aboutus-block-two-aspiration{
		padding-top: 33px;
		padding-bottom: 35px;
		padding-left: 170px;
		background-position-x: 40px;
		background-position-y: 65px;
		background-size: 114px;
	}
	
	.aboutus-block-two-aspiration-description{
		width: 93%;
	}

	/* БЛОК КАК МЫ РАБОТЕМ */

	.work{
		margin-bottom: 100px;
	}

	.work-steps-number{
		justify-content: space-between;
		margin-bottom: 50px;
	}

	.work-steps-consultation{
		flex-direction: column-reverse;
	}

	.work-steps-picture{
		margin-bottom: 38px;
		max-width: 668px;
		min-height: 284px;
		background: url(/img/работа768.jpg) no-repeat;
	}

	.work-steps-picture-background{
		display: none;
	}

	.work-steps-consultation-left{
		width: 100%;
	}

	.work-steps-consultation-description{
		margin-bottom: 45px;
	}

	/* БЛОК ВОПРОСЫ */

	.questions{
		margin-bottom: 87px;
	}

	.questions-list-common-list-text{
		width: 87%;
		line-height: 25px;
	}

	/* БЛОК ФУТЕР */

	.conteiner-footer{
		flex-direction: column-reverse;
	}

	.conteiner-footer-form-name{
		width: 81%;
	}

	.conteiner-footer-form-email{
		width: 81%;
	}

	.conteiner-footer-form-text{
		width: 81%;	
	}

	.conteiner-footer-form{
		margin-bottom: 54px;
	}

	.conteiner-footer-info-lodo{
		margin-bottom: 10px;
	}

	.logo-footer{
		max-width: 224px;
	}

	.conteiner-footer-info-description{
		display: none;
	}
}

@media (min-width: 455px) and (max-width: 685px){

	.header-hero{
		margin-bottom: 10px;
		width: 100%;
		padding-top: 50px;
		padding-left: 4px;
		min-height: 308px;
		background: url(/img/hero1024.jpg) no-repeat;
		background-size: cover;
	}

	.header-hero-heading{
		margin-left: 18px;
		margin-bottom: 8px;
		width: 65%;
		font-size: 20px;
		font-weight: 800;
		line-height: 24px;
	}
	.header-hero-description{
		padding-left: 18px;
		width: 70%;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
	}
	.header-hero-btn{
		margin-bottom: 0px;
		margin-left: 18px;
		padding: 12px 29px 13px 28px;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
	}

	.aboutus-block{
		flex-direction: column;
	}

	.aboutus-block-first{
		width: 100%;
		height: 400px;
		min-height: 200px;
		background: url(/img/онас320.jpg) no-repeat;
		padding: 0px;
		flex-direction: column;
		display: block;
	}
	
	.aboutus-block-first-common{
		padding-top: 210px;
		padding-right: 0;
		padding-bottom: 0px;
		padding-left: 0;
		flex-direction: column;
		background: none;
	}

	.aboutus-block-first-common-description{
		margin-bottom: 8px;
		width: 50%;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		color: #333333;
	}
	.aboutus-block-first-common-description-btn{
		margin-right: auto;
		padding: 11px 40px;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
		color: #FF9900;
	}

	.aboutus-block-first-common-description-btn:hover{
		color: #FFFFFF;
	}

	.aboutus-block-first-common-description-btn:focus{
		color: #FFFFFF;
	}
		
	.aboutus-block-first-common-description-btn:active{
		color: #FFFFFF;
	}

	.aboutus-block-two-consultation{
		padding: 0;
		border: none;
		background: url(/img/онас2320.svg) no-repeat;
	}

	.aboutus-block-two-consultation-heading{
		margin-bottom: 3px;
		padding-top: 60px;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
	}

	.aboutus-block-two-consultation-description{
		width: 100%;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}

	.aboutus-block-two-aspiration{
		padding: 0;
		border: none;
		background: url(/img/онас3320.svg) no-repeat;
	}

	.aboutus-block-two-aspiration-heading{
		margin-bottom: 5px;
		padding-top: 60px;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
	}

	.aboutus-block-two-aspiration-description{
		width: 100%;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}

	.conteiner-footer-form-btn{
		flex-direction: column;
	}
}

@media (min-width: 321px) and (max-width: 454px){

	.conteiner{
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-hero{
		margin-bottom: 10px;
		width: 100%;
		padding-top: 20px;
		padding-left: 4px;
		min-height: 308px;
		background: url(/img/hero1024.jpg) no-repeat;
		background-size: contain;
	}

	.header-hero-heading{
		margin-left: 18px;
		margin-bottom: 8px;
		width: 90%;
		font-size: 20px;
		font-weight: 800;
		line-height: 24px;
	}
	.header-hero-description{
		margin-bottom: 18px;
		padding-left: 18px;
		width: 70%;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
	}
	.header-hero-btn{
		margin-bottom: 0px;
		margin-left: 18px;
		padding: 12px 29px 13px 28px;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
	}

	.aboutus-block{
		flex-direction: column;
	}

	.aboutus-block-first{
		width: 100%;
		height: 400px;
		min-height: 200px;
		background: url(/img/онас320.jpg) no-repeat;
		padding: 0px;
		flex-direction: column;
		display: block;
	}
	
	.aboutus-block-first-common{
		padding-top: 210px;
		padding-right: 0;
		padding-bottom: 0px;
		padding-left: 0;
		flex-direction: column;
		background: none;
	}

	.aboutus-block-first-common-description{
		margin-bottom: 8px;
		width: 50%;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		color: #333333;
	}
	.aboutus-block-first-common-description-btn{
		margin-right: auto;
		padding: 11px 40px;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
		color: #FF9900;
	}

	.aboutus-block-first-common-description-btn:hover{
		color: #FFFFFF;
	}

	.aboutus-block-first-common-description-btn:focus{
		color: #FFFFFF;
	}
		
	.aboutus-block-first-common-description-btn:active{
		color: #FFFFFF;
	}

	.aboutus-block-two-consultation{
		padding: 0;
		border: none;
		background: url(/img/онас2320.svg) no-repeat;
	}

	.aboutus-block-two-consultation-heading{
		margin-bottom: 3px;
		padding-top: 60px;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
	}

	.aboutus-block-two-consultation-description{
		width: 100%;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}

	.aboutus-block-two-aspiration{
		padding: 0;
		border: none;
		background: url(/img/онас3320.svg) no-repeat;
	}

	.aboutus-block-two-aspiration-heading{
		margin-bottom: 5px;
		padding-top: 60px;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
	}

	.aboutus-block-two-aspiration-description{
		width: 100%;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}

	.work-steps-number-description{
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
	}

	.work-steps-detailed-btn{
		margin-right: 10px;
		padding: 11px 42px;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
	}

	.work-steps-contract-btn{
		padding: 11px 30px;
		font-size: 12px;
		font-weight: 400;
		line-height: 15px;
	}

	.conteiner-footer-form-btn{
		flex-direction: column;
	}
}

@media (max-width: 320px){
	
	.conteiner{
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-up{
		margin-bottom: 12px;
	}

	.header-nav-list-burger{
		padding-top: 21px;
		height: 23px;
		display: block;
	}
	
	.header-nav-list-burger-open{
		padding-left: 0;
		background-color: #FFFFFF;
		border: none;
	}

	.header-logo1{
		padding-top: 17px;
		margin-bottom: 60px;
		max-width: 110px;
		margin: auto;
	}

	.header-hero{
		margin-bottom: 60px;
		width: 100%;
		padding-top: 60px;
		padding-left: 4px;
		min-height: 308px;
		background: url(/img/hero320.jpg) no-repeat;
		background-size: contain;
	}

	.header-hero-heading{
		margin-bottom: 8px;
		width: 100%;
		font-size: 20px;
		font-weight: 800;
		line-height: 24px;
		text-align: center;
	}
	.header-hero-description{
		margin-bottom: 32px;
		margin-right: 21px;
		padding-left: 18px;
		width: 94%;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
		text-align: center;
	}
	.header-hero-btn{
		margin-bottom: 0px;
		margin-left: 60px;
		padding: 12px 29px 13px 28px;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
	}

	/* БЛОК О НАС */

	.aboutus{
		margin-bottom: 60px;
	}

	.aboutus-heading{
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
	}

	.aboutus-description{
		margin-bottom: 14px;
		width: 100%;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}

	.aboutus-block{
		flex-direction: column;
	}

	.aboutus-block-first{
		width: 100%;
		height: 400px;
		min-height: 200px;
		background: url(/img/онас320.jpg) no-repeat;
		padding: 0px;
		flex-direction: column;
		display: block;
	}
	
	.aboutus-block-first-common{
		padding-top: 210px;
		padding-right: 0;
		padding-bottom: 0px;
		padding-left: 0;
		flex-direction: column;
		background: none;
	}

	.aboutus-block-first-common-description{
		margin-bottom: 8px;
		width: 40%;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		color: #333333;
	}
	.aboutus-block-first-common-description-btn{
		margin-right: auto;
		padding: 11px 40px;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
		color: #FF9900;
	}

	.aboutus-block-first-common-description-btn:hover{
		color: #FFFFFF;
	}

	.aboutus-block-first-common-description-btn:focus{
		color: #FFFFFF;
	}
		
	.aboutus-block-first-common-description-btn:active{
		color: #FFFFFF;
	}

	.aboutus-block-two-consultation{
		padding: 0;
		border: none;
		background: url(/img/онас2320.svg) no-repeat;
	}

	.aboutus-block-two-consultation-heading{
		margin-bottom: 3px;
		padding-top: 60px;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
	}

	.aboutus-block-two-consultation-description{
		width: 100%;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}

	.aboutus-block-two-aspiration{
		padding: 0;
		border: none;
		background: url(/img/онас3320.svg) no-repeat;
	}

	.aboutus-block-two-aspiration-heading{
		margin-bottom: 5px;
		padding-top: 60px;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
	}

	.aboutus-block-two-aspiration-description{
		width: 100%;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}

	/* БЛОК КАК МЫ РАБОТЕМ */

	.work{
		margin-bottom: 70px;
	}
	
	.work-heading{
		margin-bottom: 22px;
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
	}

	.work-steps-number{
		margin-bottom: 16px;
	}

	.work-steps-number-description{
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
	}

	.work-steps-number-description:hover{
		color: #FF9900;
	}
	
	.work-steps-number-description:focus{
		width: 15%;
		border: 1px solid #FF9900;
	}
	
	.work-steps-number-description:focus-visible {
		outline: 1px solid #FF9900;
	}

	.work-steps-number-description:not(:nth-child(4)){
		margin-right: 44px;
	}

	.work-steps-picture1{
		margin-bottom: 16px;
		height: 160px;
	}

	.work-steps-picture{
		background: url(/img/работа320.jpg) no-repeat;
	}

	.work-steps-consultation-heading{
		font-size: 18px;
		font-weight: 500;
		line-height: 32px;
	}

	.work-steps-consultation-description{
		margin-bottom: 26px;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}

	.work-steps-detailed-btn{
		margin-right: 10px;
		padding: 11px 42px;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
	}

	.work-steps-contract-btn{
		padding: 11px 30px;
		font-size: 12px;
		font-weight: 400;
		line-height: 15px;
	}

	/* БЛОК ВОПРОСЫ */

	.questions{
		margin-bottom: 55px;
	}

	.questions-heading{
		margin-bottom: 17px;
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
	}

	.questions-list-common-list-text{
		padding-top: 0px;
		padding-bottom: 0px;
		width: 100%;
		font-size: 14px;
		font-weight: 500;
		line-height: 23px;
	}

	/* БЛОК ФУТЕР */

	.conteiner-footer{
		padding-top: 30px;
	}

	.conteiner-footer-form{
		margin-bottom: 16px;
	}

	.conteiner-footer-form-heading{
		margin-bottom: 23px;
		font-size: 24px;
		font-weight: 400;
		line-height: 29px;
	}

	.conteiner-footer-form-name{
		width: 100%;
	}

	.conteiner-footer-form-email{
		width: 100%;
	}

	.conteiner-footer-form-text{
		margin-bottom: 29px;
		width: 100%;
	}

	.conteiner-footer-form-btn{
		flex-direction: column;
	}

	.conteiner-footer-form-btn-send{
		margin: auto;
		margin-bottom: 11px;
		padding: 12px 25px;
		width: 60%;
		font-size: 12px;
		font-weight: 700;
		line-height: 15px;
	}
	.conteiner-footer-form-approval-checkbox{
		padding-bottom: 16px;
		border-bottom: 1px solid #595959;
	}

	.conteiner-footer-info{
		margin: auto;
		width: 48%;
	}

	.conteiner-footer-info-lodo{
		margin-bottom: 1px;
	}

	.logo-footer{
		max-width: 131px;
	}

	.conteiner-footer-info-description-lan{
		margin-bottom: 32px;
	}

	.conteiner-footer-info-description-lan-facebook{
		margin-right: 16px;
	}

	.conteiner-footer-info-description-lan-facebook svg{
		width: 40px;
	}

	.conteiner-footer-info-description-lan-vk{
		margin-right: 16px;
	}

	.conteiner-footer-info-description-lan-vk svg{
		width: 40px;
	}

	.conteiner-footer-info-description-lan-instagram svg{
		width: 40px;
	}
}